# Data Mining Project
## Discover and describe aeras of interest and events from geo-located data.
### Team:
- **SCHLEE Adam**
- **KUSNO Louis**

## Imports

In [1]:
# installation of required libraries and dependencies
# numeric calculations
! pip install numpy
# data frames 
! pip install pandas
# machine learning algorithms 
# ! pip install scikit-learn
# ! pip install scipy
# plotting 
! pip install matplotlib
# ! pip install plotly
# ! pip install seaborn
# ! pip install plotly-express
# ! pip install chart-studio
# web app library 
# ! pip install streamlit
# # association rules
# ! pip install mlxtend

# ! pip install nbformat

Requirement already satisfied: numpy in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (2.2.1)
Requirement already satisfied: pandas in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\louis\onedrive\documents\school_insa\a4\fd\4if-data_mining_project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
# load pandas to deal with the data
import pandas as pd
# plotting
import matplotlib.pyplot as plt
# import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [5]:
data = pd.read_table("data/subset-150.csv", sep=",")
data.head()

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rh么ne,chaise,rh么nealpes",Chaises avec vue,11,15,28,2,2010,23,20,28,2,2010,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51,17,28,2,2010,52,17,28,2,2010,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29,17,28,2,2010,33,17,28,2,2010,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15,20,28,1,2010,38,12,28,2,2010,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10,20,28,1,2010,38,12,28,2,2010,NaN,NaN,NaN