# Data Mining Project
## Discover and describe aeras of interest and events from geo-located data.
### Team:
- **SCHLEE Adam**
- **KUSNO Louis**

## Imports

In [ ]:
# installation of required libraries and dependencies
# numeric calculations
! pip install numpy
# data frames 
! pip install pandas
# machine learning algorithms 
# ! pip install scikit-learn
# ! pip install scipy
# plotting 
! pip install matplotlib
! pip install folium
# ! pip install plotly
# ! pip install seaborn
# ! pip install plotly-express
# ! pip install chart-studio
# web app library 
# ! pip install streamlit
# # association rules
# ! pip install mlxtend

# ! pip install nbformat

In [103]:
# load pandas to deal with the data
import pandas as pd
# plotting
import matplotlib.pyplot as plt
# import folium as fl
import folium as fl

In [106]:
data = pd.read_table("data/dataset.csv", sep=",")
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168099 entries, 0 to 168098
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  168099 non-null  int64
 1   user                168099 non-null  object
 2   lat                 168099 non-null  float64
 3   long                168099 non-null  float64
 4   tags                126103 non-null  object
 5   title               152319 non-null  object
 6   date_taken_minute   168099 non-null  int64
 7   date_taken_hour     168099 non-null  int64
 8   date_taken_day      168099 non-null  int64
 9   date_taken_month    168099 non-null  int64
 10  date_taken_year     168099 non-null  int64
 11  date_upload_minute  168099 non-null  int64
 12  date_upload_hour    168099 non-null  int64
 13  date_upload_day     168099 non-null  int64
 14  date_upload_month   168099 non-null  int64
 15  date_upload_year    168099 non-null  int64
dtypes: float64(2), int64(11), object(3)
memory usage: 20.5+ MB

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11,15,28,2,2010,23,20,28,2,2010
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51,17,28,2,2010,52,17,28,2,2010
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29,17,28,2,2010,33,17,28,2,2010
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15,20,28,1,2010,38,12,28,2,2010
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10,20,28,1,2010,38,12,28,2,2010

> ### Affichage de la carte et des points avec Folium

In [113]:
# Affichage de la carte et des points avec Folium 

# Création de la carte
map = fl.Map(location=[48.8566, 2.3522], zoom_start=12)

# Ajout des points sur la carte

for i in range(0, 5000):
    fl.Circle(
        location=[data.loc[i]['lat'], data.loc[i]['long']],
        radius=10,
        color='crimson',
        fill=True,
        fill_color='crimson'
    ).add_to(map)

# Recentrer la carte
map.fit_bounds(map.get_bounds())

# Affichage de la carte
map.save("map.html")